


<aside id="leftsidebar" class="sidebar">

    <div class="menu">
        <ul class="list">
          
            <li>
                <a routerLink="/admin"><i class="zmdi zmdi-home"></i><span>Dashboard</span></a>
            
            </li>
           
        
            <li>
                <a routerLink="/admin/Users"><span>Users</span></a>
        
            </li>
            <li>
                <a routerLink="/admin/Employees"><span>Employees</span></a>
        
            </li>
            <li>
                <a routerLink="/admin/Departments"><span>Departments</span></a>
        
            </li>
               
        </ul>
    </div>
</aside>

<div class="navbar-right">
    <ul class="navbar-nav">
        <li><a href="#search" class="main_search" title="Search..."><i class="zmdi zmdi-search"></i></a></li>
        
        <li><a routerLink="/admin/profile"  title="Account"><i class="zmdi zmdi-account-circle"></i></a></li>
       
        <li><a (click)="logout()" class="mega-menu" title="Sign Out"><i class="zmdi zmdi-power"></i></a></li>
    </ul>
</div>
