


<aside id="leftsidebar" class="sidebar">

    <div class="menu">
        <ul class="list">
          
            <li>
                <a routerLink="/admin"><i class="zmdi zmdi-home"></i><span>Dashboard</span></a>
            
            </li>
           
        
            <li>
                <a routerLink="/admin/Users"><span>Users</span></a>
        
            </li>
            <li>
                <a routerLink="/admin/Employees"><span>Employees</span></a>
        
            </li>
            <li>
                <a routerLink="/admin/Departments"><span>Departments</span></a>
        
            </li>
               
        </ul>
    </div>
</aside>

<div class="navbar-right">
    <ul class="navbar-nav">
        <li><a h class="main_search" (click)="OpenDialogSearch()"title="Search..."><i class="zmdi zmdi-search"></i></a></li>
        
        <li><a routerLink="/admin/profile"  title="Account"><i class="zmdi zmdi-account-circle"></i></a></li>
       
        <li><a (click)="logout()" class="mega-menu" title="Sign Out"><i class="zmdi zmdi-power"></i></a></li>
    </ul>
</div>
<div id="search">
    <button id="close" type="button" class="close btn btn-primary btn-icon btn-icon-mini btn-round">x</button>
    <form>
        <input type="search" value="" placeholder="Search..." />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

<ng-template #callSearchDialog>
    <div class="mat-dialog-container">
      <div class="dialog-header">
        <h2>Search Employee</h2>
      </div>

      <div class="card">
        <div class="body">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="zmdi zmdi-search"></i></span>
                </div>
                <input type="text" class="form-control"[(ngModel)] ="filterText" name="firstname"placeholder="Search...">
            </div>
        </div>
      </div>
     
       <div class="card">
        <div class="table-responsive"*ngIf="filterText">
            <table class="table table-hover product_item_list">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th data-breakpoints="sm xs">Email</th>
                        <th data-breakpoints="sm xs">Phone</th>
                        <th data-breakpoints="xs">Salary</th>
                        <th data-breakpoints="xs md">Department</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of Employees | filter : filterText ">

                        <td><span class="text-muted">{{ employee.firstname }}</span></td>
                        <td><span class="text-muted">{{ employee.lastname }}</span></td>
                        <td><span class="text-muted">{{ employee.email }}</span></td>
                        <td><span class="text-muted">{{ employee.phone }}</span></td>

                        <td>${{ employee.salary }}</td>
                        <td><span class="col-green">{{employee.departmentname }}</span></td>
                      
                    
                    </tr>
                   
                  
                </tbody>
            </table>
        </div>
    </div>
    </div>
  </ng-template>

  <ng-template #callDetailDailog>
    <div class="mat-dialog-container">
    <div class="dialog-header">
    <h2>Employee Detail</h2>
    </div>
    
    
  
    <div *ngIf="Employee">
      <p><strong>First Name:</strong> {{ Employee.firstname }}</p>
      <p><strong>Last Name:</strong> {{ Employee.lastname }}</p>
      <p><strong>Email:</strong> {{ Employee.email }}</p>
      <p><strong>Phone:</strong> {{ Employee.phone }}</p>
      <p><strong>Department:</strong> {{ Employee.departmentname }}</p>
      <p><strong>Salary:</strong> {{ Employee.salary }}</p>
  
    </div>
    </div>
    </ng-template>