
  


<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion " >

    

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" >
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">


        <li class="nav-item">
            <a routerLink="/admin/profile"class="nav-link collapsed" ><span>Profile</span></a>
    
        </li>
        <li class="nav-item">
            <a routerLink="/admin/Users"class="nav-link collapsed"><span>Users</span></a>
    
        </li>
        <li class="nav-item">
            <a routerLink="/admin" class="nav-link collapsed"><span>Employees</span></a>
    
        </li>
        <li class="nav-item">
            <a routerLink="/admin/Departments"class="nav-link collapsed"><span>Departments</span></a>
    
        </li>
    
        
        <li class="nav-item">
            <a (click)="logout()" href="" style=" cursor: pointer;"class="nav-link collapsed"><span>Log Out</span></a>
    
        </li>
     


    <hr class="sidebar-divider">


   

</ul>


  