<div id="wrapper">
    <app-sidebar></app-sidebar>
  
    <div id="content-wrapper" class="d-flex flex-column">
  
        <app-nav></app-nav>
        <div class="container-fluid">
  
      
      <div class="block-header">
          <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-12">
                  <h2>Employees List</h2>
                  <ul class="breadcrumb">
                      <li class="breadcrumb-item"><a ><i class="zmdi zmdi-home"></i> Admin</a></li>
                  <li class="breadcrumb-item">Employees</li>
                  </ul>
              </div>
            
          </div>
        
      </div>
      <button mat-fab color="primary"class="add-button"(click)="OpenDialogAdd()" aria-label="Example icon button with a delete icon">
        <mat-icon  class="icon">add</mat-icon>
      </button>

      
      
      <div class="row pages">
        <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0" *ngFor="let employee of Employees">
        
         
                            <div class="card card-lift--hover shadow featured-block d-flex justify-content-center align-items-center">
                              <a class="close">        
                                <button mat-fab aria-label="Example icon button with a delete icon"(click)="openDeleteDailog(employee.employeeid)"class="button">
                                  <mat-icon  class="icon">close</mat-icon>
                                </button>
                                
                              </a>
                                 <a class="edit">        
                                     <button mat-fab aria-label="Example icon button with a delete icon" (click)="openEditDailog(employee)"class="button-check">
                                      <mat-icon class="icon">edit</mat-icon>
                                   </button>
                                                  
                                 </a>

                              <div class="custom-block">

                                  <div class="custom-block-body">
                                    <h3 class="mb-3">{{ employee.firstname }}</h3>
                                    <h3 class="mb-3">{{ employee.lastname }}</h3>
                                      <p>          
                                            <mat-label class="email">email</mat-label>
                                        {{employee.email }}
                                      </p>
                                      <p>{{employee.salary }}</p>
                                      <p>{{employee.departmentname }}</p>

                                  
                                      </div>
              
                                  </div>
              
                              </div>
                            </div>
          
          
                
       
        </div>
   
      
      <ng-template #callDeleteDailog>
        <div style="padding:15px">
    <h2>Are you sure you want to delete this user?</h2>
    <button class="btn btn-primary m-1"   mat-dialog-close="yes">Yes</button>
    <button class="btn btn-danger m-1"  mat-dialog-close="no">No</button> 
    </div>
    </ng-template>  
          
  
  
  
  <ng-template #callEditDailog>
  <div class="mat-dialog-container">
  <div class="dialog-header">
  <h2>Edit Employee</h2>
  </div>
  <form class="example-container" [formGroup]="edit">
    <mat-form-field appearance="outline">
      <mat-label>Enter Employee Name</mat-label>
      <input matInput type="text" placeholder="Enter user name" formControlName="username">
      <mat-error *ngIf="form.get('username')?.hasError('required')">User name is required</mat-error>
    </mat-form-field>
    <div class="form-field-spacer"></div>

    <mat-form-field appearance="outline">
      <mat-label>Enter First Name</mat-label>
      <input matInput type="text" placeholder="Enter first name" formControlName="firstname">
      <mat-error *ngIf="form.get('firstname')?.hasError('required')">First name is required</mat-error>
    </mat-form-field>
    
    <div class="form-field-spacer">

    </div>
    <mat-form-field appearance="outline">
      <mat-label>Enter Last Name</mat-label>
      <input matInput type="text" placeholder="Enter last name" formControlName="lastname">
      <mat-error *ngIf="form.get('lastname')?.hasError('required')">Last name is required</mat-error>
    </mat-form-field>
    <div class="form-field-spacer"></div>

    <mat-form-field appearance="outline">
      <mat-label>Enter Salary</mat-label>
      <input matInput type="text" placeholder="Enter Salary" formControlName="salary">
      <mat-error *ngIf="form.get('salary')?.hasError('required')">salary is required</mat-error>
    </mat-form-field>

    <div class="form-field-spacer"></div>
    <mat-form-field appearance="outline">
      <mat-label>Enter Email</mat-label>
      <input matInput type="email" placeholder="Enter email" formControlName="email" readonly>
    </mat-form-field>

    <div class="form-field-spacer"></div>
    <mat-form-field>
      <mat-label>Select Department</mat-label>
  <mat-select formControlName="departmentid" required>
    <mat-option *ngFor="let department of departments" [value]="department.departmentid">
      {{ department.departmentname }}
    </mat-option>
  </mat-select>

    </mat-form-field>
 

  
  <div class="dialog-footer">
  <button mat-raised-button color="primary" mat-dialog-close="yes" >Edit</button>
  </div>
  </form>
  </div>
  </ng-template>
        </div>
    </div>
  </div>

  
  <ng-template #callCreateDialog>
    <div class="mat-dialog-container">
      <div class="dialog-header">
        <h2>Add Employee</h2>
      </div>
      <form class="example-container" [formGroup]="form">
        <mat-form-field appearance="outline">
          <mat-label>Enter Employee Name</mat-label>
          <input matInput type="text" placeholder="Enter user name" formControlName="username">
          <mat-error *ngIf="form.get('username')?.hasError('required')">User name is required</mat-error>
        </mat-form-field>
        <div class="form-field-spacer"></div>

        <mat-form-field appearance="outline">
          <mat-label>Enter First Name</mat-label>
          <input matInput type="text" placeholder="Enter first name" formControlName="firstname">
          <mat-error *ngIf="form.get('firstname')?.hasError('required')">First name is required</mat-error>
        </mat-form-field>
        
        <div class="form-field-spacer">

        </div>
        <mat-form-field appearance="outline">
          <mat-label>Enter Last Name</mat-label>
          <input matInput type="text" placeholder="Enter last name" formControlName="lastname">
          <mat-error *ngIf="form.get('lastname')?.hasError('required')">Last name is required</mat-error>
        </mat-form-field>
        <div class="form-field-spacer"></div>

        <mat-form-field appearance="outline">
          <mat-label>Enter Salary</mat-label>
          <input matInput type="text" placeholder="Enter Salary" formControlName="salary">
          <mat-error *ngIf="form.get('salary')?.hasError('required')">salary is required</mat-error>
        </mat-form-field>

        <div class="form-field-spacer"></div>
        <mat-form-field appearance="outline">
          <mat-label>Enter Email</mat-label>
          <input matInput type="email" placeholder="Enter email" formControlName="email">
          <mat-error *ngIf="form.get('email')?.hasError('required')">Email is required</mat-error>
          <mat-error *ngIf="form.get('email')?.hasError('pattern')">Invalid email format</mat-error>
        </mat-form-field>
        <div class="form-field-spacer"></div>
        <mat-form-field>
          <mat-label>Select Department</mat-label>
      <mat-select formControlName="departmentid" required>
        <mat-option *ngFor="let department of departments" [value]="department.departmentid">
          {{ department.departmentname }}
        </mat-option>
      </mat-select>

        </mat-form-field>
     

        <div class="dialog-footer">
          <button mat-raised-button color="primary" (click)="addEmployee()" [disabled]="!form.valid">Add</button>
        </div>
      </form>
    </div>
  </ng-template>