<app-navbar></app-navbar>
<br>
<br>
<br>
<br>
<br>

<section class="content">
    <div class="body_scroll">
      
        <div class="container-fluid">
            <div class="row ">
            <div class="col-lg-4 col-md-12"*ngIf="profile">

                <div class="card mcard_3">
                        <div class="body">
                            <a><img src="assets/img/{{profile.image}}" class="rounded-circle shadow " alt="profile-image"></a>
                            <h4 class="m-t-10">{{profile.userName }}</h4> 
                            <div class="col-12">
                                <button class="btn btn-info"(click)="UpdateImage()" [disabled]="!imageForm.valid" >Save Changes</button>
                            </div> 
                            <form  [formGroup]="imageForm">
    
                               <div class="avatar-edit">
                                 <input type='file' id="imageUpload"formControlName="image"   #file   (change)="UploadImage(file.files)" accept=".png, .jpg, .jpeg" />
                                  <label for="imageUpload"class="btn btn-info btn-icon edit"><i class="zmdi zmdi-edit"></i></label>
                               </div>

                            </form>
                           
                        </div>
                </div> 
                  
                    <div class="card">
                        <div class="body">
                            <small class="text-muted"> Department: </small>
                            <p>{{profile.departmentName }}</p>
                            <hr>
                            <small class="text-muted">Email address: </small>
                            <p>{{profile.email }}</p>
                            <hr>
                            <small class="text-muted">User name: </small>
                            <p>{{profile.userName }}</p>
                            <hr>
                            <small class="text-muted">First name: </small>
                            <p>{{profile.firstName }}</p>
                            <hr>
                            <small class="text-muted">Last name: </small>
                            <p>{{profile.lastName }}</p>
                            <hr>
                            <small class="text-muted">Phone: </small>
                            <p>{{profile.phone}}</p>
                            <hr>
                        
                        </div>
                    </div>                    
            </div>
          
                <div class="col-lg-4 col-md-12">
                    <div class="card">
                      
                        <div class="body">
                          
                            <div class="row">
                               
                                <form [formGroup]="infoForm">

                                    <div class="row infoForm">
                                        <div class="col-lg-7 col-md-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="first name"formControlName="firstName">
        
                                            </div>
                                            <mat-error *ngIf="infoForm.get('firstName')?.hasError('required')">first name is required</mat-error>

                                        </div>

                                        <div class="col-lg-7 col-md-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control"  placeholder="last name"formControlName="lastName">
        
                                            </div>
                                            <mat-error *ngIf="infoForm.get('lastName')?.hasError('required')">last name is required</mat-error>

                                        </div>
                                        
                                        <div class="col-12">
                                            <button class="btn btn-info"(click)="UpdateEmployeeInfo()" [disabled]="!infoForm.valid" >Save Changes</button>
                                        </div>                                
                                    </div>   
                                </form>                               
                            </div>   
                            
                        </div>
                       
                      <div class="body password">
                       
                    <div class="row"  >
                     

                        <form [formGroup]="passwordForm">

                            <div class="row passwordForm">
                               
                                <div class="col-lg-7 col-md-12">
                                    <div class="form-group">
                                        <input type="password" class="form-control"formControlName="password"(change)="matchError()"  placeholder="New Password">
                                    </div>
                                    <mat-error *ngIf="passwordForm.get('password')?.hasError('required')">New is required</mat-error>
                                    <mat-error *ngIf="passwordForm.get('password')?.hasError('minlength')">New Password must be at least 8 </mat-error>
                                </div>
                                <div class="col-lg-7 col-md-12">
                                    <div class="form-group">
                                        <input type="password" class="form-control"formControlName="confirmPassword"(change)="matchError()" placeholder="Confirm Password">
                                    </div>
                                    <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('required')">Confirm password is required</mat-error>
                                    <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('minlength')">Confirm Password must be at least 8</mat-error>
                                
                                    <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('misMatch')">Passwords do not match</mat-error>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-info"(click)="UpdateEmployeePassword()" [disabled]="!passwordForm.valid" >Save Changes</button>
                                </div>                                
                            </div>   
                        </form>  
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
         
            </div>
        </div>
</section>

