<app-navbar></app-navbar>
<br>
<br>
<br>
<br>
<br>


<section class="content">
    <div class="body_scroll">
      
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-12"*ngFor="let profile of profile">
                   
                    <div class="card">
                        <div class="body">
                            <small class="text-muted"> Department: </small>
                            <p>{{profile.departmentname }}</p>
                            <hr>
                            <small class="text-muted">Email address: </small>
                            <p>{{profile.email }}</p>
                            <hr>
                            <small class="text-muted">User name: </small>
                            <p>{{profile.username }}</p>
                            <hr>
                            <small class="text-muted">First name: </small>
                            <p>{{profile.firstname }}</p>
                            <hr>
                            <small class="text-muted">Last name: </small>
                            <p>{{profile.lastname }}</p>
                            <hr>
                            <small class="text-muted">Phone: </small>
                            <p>{{profile.phone}}</p>
                            <hr>
                        
                        </div>
                    </div>                    
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>Employee</strong> Info</h2>
                        </div>
                        <div class="body">

                            <div class="row">
                               
                                <form [formGroup]="updateForm">

                                    <div class="row">
                                        <div class="col-lg-4 col-md-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="first name"formControlName="firstname">
        
                                            </div>
                                            <mat-error *ngIf="updateForm.get('firstname')?.hasError('required')">first name is required</mat-error>

                                        </div>

                                        <div class="col-lg-4 col-md-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="last name"formControlName="lastname">
        
                                            </div>
                                            <mat-error *ngIf="updateForm.get('lastname')?.hasError('required')">last name is required</mat-error>

                                        </div>
                                        <div class="col-lg-4 col-md-12">
                                            <div class="form-group">
                                                <input type="password" class="form-control"formControlName="password"(change)="matchError()"  placeholder="Current Password">
                                            </div>
                                            <mat-error *ngIf="updateForm.get('password')?.hasError('required')">Password is required</mat-error>
                                            <mat-error *ngIf="updateForm.get('password')?.hasError('minlength')">Password must be at least 8 </mat-error>
                                        </div>
                                        <div class="col-lg-4 col-md-12">
                                            <div class="form-group">
                                                <input type="password" class="form-control"formControlName="confirmPassword"(change)="matchError()" placeholder="New Password">
                                            </div>
                                            <mat-error *ngIf="updateForm.get('confirmPassword')?.hasError('required')">New password is required</mat-error>
                                            <mat-error *ngIf="updateForm.get('confirmPassword')?.hasError('minlength')">Password must be at least 8</mat-error>
                                        
                                            <mat-error *ngIf="updateForm.get('confirmPassword')?.hasError('misMatch')">Passwords do not match</mat-error>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-info"(click)="updateEmployee()" [disabled]="!updateForm.valid" >Save Changes</button>
                                        </div>                                
                                    </div>   
                                </form>                               
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>