
  
  <div class="container login">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="card  shadow border-0">
         
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <h3>  RESET PASSWORD </h3>
            </div>
            <form role="form" class="form"  [formGroup]="verificationForm">
             
              <div class="verification-code">
              
                  <input type="text" formControlName="verificationcode1" maxlength="1" (input)="onCodeInput(1, $event)">
                  <input type="text" formControlName="verificationcode2" maxlength="1" (input)="onCodeInput(2, $event)">
                  <input type="text" formControlName="verificationcode3" maxlength="1" (input)="onCodeInput(3, $event)">
                  <input type="text" formControlName="verificationcode4" maxlength="1" (input)="onCodeInput(4, $event)">
                  <input type="text" formControlName="verificationcode5" maxlength="1" (input)="onCodeInput(5, $event)">
                  <input type="text" formControlName="verificationcode6" maxlength="1" (input)="onCodeInput(6, $event)">
                </div>
              
                

          </form>
            <form class="card auth_form" [formGroup]="resetForm">
              
              <div class="body">
                  <div class="input-group mb-3">
                      <input type="password"class="form-control" placeholder="New Password" (blur)="matchError()" formControlName="newpassword">
                  
                  </div>
                  <div *ngIf="resetForm.get('newpassword')?.invalid && (resetForm.get('newpassword')?.dirty || resetForm.get('newpassword')?.touched)"
                  class="error-message">
                  <div *ngIf="resetForm.get('newpassword')?.errors?.['required'] as requiredError"class="text-danger">
                      passsword is required
                  </div>
                  <div *ngIf="resetForm.get('newpassword')?.errors?.['minlength'] as minlengthError"class="text-danger">
                      Password should be mor than 8 digit.
                  </div>
                  </div> 
<br>
                  <div class="input-group mb-3">
                    <input type="password"class="form-control" placeholder="Repeat Password" (blur)="matchError()" formControlName="repeatPassword">
                 
                </div>
                <div *ngIf="resetForm.get('repeatPassword')?.invalid && (resetForm.get('repeatPassword')?.dirty || resetForm.get('repeatPassword')?.touched)"
                class="error-message">
                <div *ngIf="resetForm.get('repeatPassword')?.errors?.['required'] as requiredError"class="text-danger">
                    Repeat Password is required
                </div>
                <div *ngIf="resetForm.get('repeatPassword')?.errors?.['minlength'] as minlengthError"class="text-danger">
                    Repeat Password should be mor than 8 digit.
                </div>
          
                <div *ngIf="resetForm.get('repeatPassword')?.hasError('misMatch')"
                class="error-message"class="text-danger">Passwords do not match</div>
                </div>
                  
                  <button type="button" class="btn btn-primary btn-block waves-effect waves-light"style="color:#fff" [disabled]="!resetForm.valid"(click)="resetpassword()">Reset</button>
                  
              </div>
           
          </form>
         
           
          </div>
        </div>
       
      </div>
    </div>
  </div>
   