
  .link {
    cursor: pointer;
  }
  .verification-code {
    display: flex;
    gap: 10px; 
  }
  
  .verification-code input[type="text"] {
    width: 40px; 
    height: 40px; 
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
  }
 
.login{
  position: absolute;
  top: 204px;
  left: 268px;
  
}
.form{
  position: relative;
  left: 26px;
}

.spinner-container {
  position: relative;
  display: inline-block;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top-color: #4caf50;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.mask {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  border-radius: 50%;
}

.timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
}
