
  .link {
    cursor: pointer;
  }
  .verification-code {
    display: flex;
    gap: 10px; 
  }
  
  .verification-code input[type="text"] {
    width: 40px; 
    height: 40px; 
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
  }
 
.login{
  position: absolute;
  top: 204px;
  left: 268px;
  
}
.form{
  position: relative;
  left: 26px;
}